<%- include('template/cabecera.ejs', {tituloweb: 'Inicio'}); %>

    <header></header>

    <!-- NAV -->
    <%- include('template/navbar.ejs') %>

    <!-- SECTION -->
    <section>
        <h1><%= titulo %></h1>
        <article></article>
    </section>

    <!-- FOOTER -->

<%- include('template/foot') %>
